{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Company</h2>
           
            <hr class="w-100 mb-1 ">

            <p class="center">
                The Perfume Palace is part of Perfume Group, the world’s 
                largest international health and beauty retailer operating
                over 16,000 stores under 12 retail brands in 28 markets, 
                with over 130,000 employees worldwide. For the fiscal year
                2022, Perfume Group recorded revenue of US$22 billion. 
                Every year, we are serving over 5.5 billion shoppers via our
                O+O (Offline plus Online) technology-enabled platforms.
                
                The Perfume Palace is the Ireland largest specialist fragrance 
                retailer with 215 stores across the Ireland, selling all
                major designer fragrance brands, classic and celebrity perfumes,
                 aftershaves and body products with unrivalled expertise
                at value for money prices.
            </p>
        </div>
    </div>    
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">About Us </h2>
        
            <hr class="w-100 mb-1">
        
        
            <p class="center">
                We are the leading perfume experts in the Ireland. 
                You can be sure that you are in the best place when making 
                a purchase at
                The Perfume Palace. We have trained and developed the most 
                knowledgeable team of sales advisors in the perfume industry,
                proudly boasting the largest number of industry recognised CFSS
                 (Certified Fragrance Sales Specialist) graduates in the
                UK. To further showcase our dedication to fragrance expertise, 
                we recently established our own innovative programme,
                "The Perfume School”, so that you can always have confidence in
                 our high quality, unbiased advice every time you shop.
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Our Service </h2>
    
            <hr class="w-100 mb-1">
        
        
            <p class="center">
                We will always endeavour to resolve any delivery issues 
                as quickly as possible. If you believe your order has been lost,
                please contact our Customer Service Team with your order 
                reference number within 14 days from your order despatch date.
                You will need to fill out a denial of receipt form so we can
                 investigate further. No resend or refund will be offered
                until a full investigation is complete.
                
                Customer Service Live Chat: Click here
                Customer Service Email: help@theperfumepalace.com
                Customer Service Phone: 0333 344 2646
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Privacy Policy </h2>
    
            <hr class="w-100 mb-1">
        
            <p class="center">
                The categories of personal data that we process depends on how 
                you use our services. We use your personal data to
                provide our online services in alignment with your preferences, 
                to process your requests, to contact you regarding
                products and services which may be of interest to you, 
                to provide prize draws or competitions, or to carry out relevant
                administrative services. All personal data is processed
                 in accordance with applicable data protection laws.
                
                We only disclose your personal data to third parties that 
                assist us with providing you with our services and, if you
                authorise us explicitly, to our affiliated companies for 
                the purpose of customer relationship management, analytics and
                marketing.
                
                With your consent we also use cookies for marketing, 
                performance and statistical purposes.
                
                As our valued customer, we also offer you various choices 
                to control how your personal data is used. For example, if you
                would like to update your 'cookie preferences', 
                click on the Cookie Consent Tool located at the bottom right of our
                website.
                
                In addition, if you have an electronic account with us
                 (on the website or mobile app), you can update your contact
                information and your marketing preferences under the 
                'My Account' section. Alternatively, you can contact our Customer
                Services Team by phone - 0333 344 2646 or by sending 
                an email to dataprotectionofficer@theperfumeshop.com.
                
                If you would like more information about the processing 
                of your personal data by us and on the cookies that we use,
                click here to read the full version of our Privacy Policy.
        </div>
    </div>
    
</div>
{% endblock %}