{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Contact Us</h2>

            <hr class="w-100 mb-1 ">

            <p class="center">
                Our Customer Service Team are happy to answer any question 
                or query you may have about our stores, services and products. 
            </p>
        </div>
        <div class="card-deck">
            <div class="card">
                <img src="{{MEDIA_URL}}Perfume-image1.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Email Us</h5>
                    <p class="card-text">Our Customer Service Team Are Available:
                    
                    Monday - Friday: 9am - 8pm
                    Saturday: 9am - 6pm
                    Sunday: 10am - 5pm</p>
                    <p class="card-text"><small class="text-muted">Email address: help@perfumpalace.com</small></p>
                </div>
            </div>
            <div class="card">
                <img src="{{MEDIA_URL}}Perfume-image10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Call Us</h5>
                    <p class="card-text">Our Customer Service Team Are Available:
                    
                    Monday - Friday: 9am - 8pm
                    Saturday: 9am - 6pm
                    Sunday: 10am - 5pm</p>
                    <p class="card-text"><small class="text-muted">Phone Number: 3344557762</small></p>
                </div>
            </div>
            <div class="card">
                <img src="{{MEDIA_URL}}Perfume-image10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Visite Us</h5>
                    <p class="card-text">Our Customer Service Team Are Available:
                    
                    Monday - Friday: 9am - 8pm
                    Saturday: 9am - 6pm
                    Sunday: 10am - 5pm</p>
                    <p class="card-text"><small class="text-muted">See our Nearest location</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Store locations </h2>

            <hr class="w-100 mb-1">
            <p class="center">
            our store locations are available in the below places.
            </p>
        </div>
        <div class="card-deck">
            <div class="card">
                <img src="{{MEDIA_URL}}Perfume-image1.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dundrum</h5>
                    <p class="card-text">The Perfume Shop Dundrum
                    Sandyford Road Unit 2/29A
                    Dundrum D16 K7H6
                    Open now until 19:00</p>
                    <p class="card-text"><small class="text-muted">Phone Number: 3344557762</small></p>
                </div>
            </div>
            <div class="card">
                <img src="{{MEDIA_URL}}Perfume-image10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stephens Green Dublin </h5>
                    <p class="card-text">The Perfume Palace Stephens Green Dublin
                    Stephen's Green Shopping Centre Unit 28
                    St Stephens Green D02 DX76
                    Open now until 18:00</p>
                    <p class="card-text"><small class="text-muted">Phone Number: 3344557762</small></p>
                </div>
            </div>
            <div class="card">
                <img src="{{MEDIA_URL}}Perfume-image10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Omni Park Santry</h5>
                    <p class="card-text">The Perfume palace Omni Park Santry
                    The Perfume Shop Unit 209
                    Santry D09 WY42
                    Open now until 18:00</p>
                    <p class="card-text"><small class="text-muted">Phone Number: 3344557762</small></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Payment Options</h2>

            <hr class="w-100 mb-1">


            <p class="center">
                We are delighted to proved more than one way of payment,
                 to facilitate the purchase of our product and services.
        </div>
        <div class="card-deck">
            <div class="card">
                <img src="{{MEDIA_URL}}Perfume-image1.JPG" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Online Payment</h5>
                    <p class="card-text">Our Customer Service Team Are Available:
        
                        Monday - Friday: 9am - 8pm
                        Saturday: 9am - 6pm
                        Sunday: 10am - 5pm</p>
                    <p class="card-text"><small class="text-muted">Email address: help@perfumpalace.com</small></p>
                </div>
            </div>
            <div class="card">
                <img src="{{MEDIA_URL}}Perfume-image10.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">At store Payment</h5>
                    <p class="card-text">Our Customer Service Team Are Available:
        
                        Monday - Friday: 9am - 8pm
                        Saturday: 9am - 6pm
                        Sunday: 10am - 5pm</p>
                    <p class="card-text"><small class="text-muted">Phone Number: 3344557762</small></p>
                </div>
            </div>
            
        </div>
    </div>
   
</div>
{% endblock %}

