<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item d-block d-md-none">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="{% url 'home' %}"
        id="home-link"
        rel="noopener"
      >
        Home
      </a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="all-products-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        rel="noopener"
      >
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a
          href="{% url 'products' %}?sort=price&direction=asc"
          class="dropdown-item" rel="noopener"
          >By Price</a
        >
        <a
          href="{% url 'products' %}?sort=rating&direction=desc"
          class="dropdown-item" rel="noopener"
          >By Rating</a
        >
        <a
          href="{% url 'products' %}?sort=category&direction=asc"
          class="dropdown-item" rel="noopener"
          >By Category</a
        >
        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="clothing-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        rel="noopener"
      >
        Categories
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
        <a href="{% url 'products' %}?category=Men" class="dropdown-item"
          rel="noopener">Men</a
        >
        <a href="{% url 'products' %}?category=Women " class="dropdown-item"
          rel="noopener">Women</a
        >
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="homeware-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        rel="noopener"
      >
        Brand
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
        <a href="{% url 'products' %}?brand=Boss" class="dropdown-item" rel="noopener">Boss</a>
        <a href="{% url 'products' %}?brand=CHANEL" class="dropdown-item" rel="noopener">CHANEL</a>
        <a href="{% url 'products' %}?brand=DIOR" class="dropdown-item" rel="noopener">DIOR</a>
        <a href="{% url 'products' %}?brand=CAROLINA" class="dropdown-item" rel="noopener">CH</a>
        <a href="{% url 'products' %}" class="dropdown-item" rel="noopener">All Brands</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black"
        href="#"
        id="specials-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        rel="noopener"
      >
        Special Offers
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="specials-link">
        <a href="{% url 'products' %}?form=new" class="dropdown-item" rel="noopener">New Arrivals</a>
        <a href="{% url 'products' %}?form=deals" class="dropdown-item" rel="noopener">Deals</a>
        <a href="{% url 'products' %}?form=clearance" class="dropdown-item" rel="noopener">Clearance</a>
        <a href="{% url 'products' %}?form=special" class="dropdown-item" rel="noopener">All Specials</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black"
        href="#"
        id="specials-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        rel="noopener"
      >
        Share ideas
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="specials-link">
        <a href="{% url 'add_comment' %}" class="dropdown-item" rel="noopener">Add comment</a>
        <a href="{% url 'create_review' %}" class="dropdown-item" rel="noopener">Add review</a>
        <a href="{% url 'create_review' %}" class="dropdown-item" rel="noopener">Add wishlist</a>
        
      </div>
    </li>
  </ul>
</div>
