{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<h1>{{ review.item }}</h1>
    <p><strong>Author:</strong> {{ review.reviewer }}</p>
    <p><strong>Rating:</strong> {{ review.rating }}</p>
    <p><strong>Content:</strong></p>
    <p>{{ review.comment }}</p>

    <!-- Optional: Display additional information or actions based on user permissions -->
    {% if user.is_authenticated %}
        {% if user == review.author %}
            <a href="{% url 'review_update' review.id %}">Edit Review</a>
            <a href="{% url 'review_delete' review.id %}">Delete Review</a>
        {% endif %}
    {% endif %}
{% endblock %}

